// //==========>> poppins <<==================//
// @font-face {
//   font-family: 'Poppins';
//   src: url("../fonts/Poppins/Poppins-Black.ttf");
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("../fonts/Poppins/Poppins-Bold.ttf");
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url("../fonts/Poppins/Poppins-Light.ttf");
// }

//=========>> dm sans <<====================//
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Black.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Bold.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-ExtraBold.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Light.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Medium.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Regular.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}
@font-face {
    font-family: 'DM Sans';
  src: url("../fonts/DM_Sans/static/DMSans-Thin.ttf");
}
