@import "./buttons";
@import "./mixins";
@import "./fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
//=============>>Desktop<<================//
.container {
  width: 1215px;
  margin: 0 auto;
}
//=========>> full page section <<============//
.fullPage {
  width: 1440px;
  margin: 0 auto;

  //=======>> navbar section <<========//
  .navBarSection {
    position: relative;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 48px 0 80px 0;

      .leftNav {
        position: relative;
        @include d-flex(60px);
        .logo a {
          text-decoration: none;
          color: black;
          @include d-flex(2px);
          h4 {
            font-size: 28px;
            font-weight: 600;
            line-height: 97.827%;
            letter-spacing: -0.84px;
          }
        }
        .navBarLinks {
          @include d-flex(55px);
          li {
            list-style: none;
            position: relative;
            a {
              color: #999fae;
              text-decoration: none;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: -0.64px;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: black;
              }
            }
            &:after {
              display: block;
              content: "";
              padding-bottom: 3px;
              border-bottom: solid 2px #5956e9;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
            }
            &:hover:after {
              transform: scaleX(1);
            }
          }
          //== arrow down ====>>
          #dropDownMenuLi a {
            @include d-flex(10px);
          }
        }
        .dropDownMenu {
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          background-color: #fff;
          position: absolute;
          @include d-flex(100px);
          justify-content: space-between;
          align-items: start;
          padding: 50px 101px;
          border-radius: 32px;
          margin-top: 440px;
          margin-left: -40px;
          width: 1240px;
          z-index: 5;
          display: none;
          h3 {
            // padding-bottom: 10px;
          }
          .features,
          .features2,
          .company {
            @include d-column(25px);
            align-items: start;
          }
          .line {
            width: 1px;
            height: 248px;
            opacity: 0.4;
            background: #999fae;
          }

          .items {
            cursor: pointer;
            @include d-flex(23px);
            .itemTexts {
              .divH4 {
                @include d-flex(10px);
                transition: all 0.3s ease-in-out;
                i {
                  opacity: 0;
                }
              }
              span {
                color: #999fae;
                font-size: 13px;
              }
            }

            &:hover {
              .divH4 {
                color: #5956e9;
                i {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .rightNav {
        @include d-flex(40px);
        .searchDiv {
          @include d-flex(5px);
          input {
            width: 140px;
            border: 2px solid #5956e9;
            border-radius: 20px;
            padding: 5px 10px;
            outline: none;
            font-size: 14px;
            z-index: 2;
          }
          i {
            font-size: 20px;
            cursor: pointer;
            color: white;
            z-index: 2;
          }
        }
        #getStart {
          @include btnPink(20px, 47px);
          z-index: 2;
        }
      }
    }
  }
  //=======>> main section <<=========//
  main {
    .mainSection {
      position: relative;
      @include d-flex(73px);
      justify-content: center;
      .leftContent {
        margin-left: 160px;
        h1 {
        //   font-family: "DM Sans";
          // width: 443px;
          font-size: 96px;
          font-style: normal;
          font-weight: 500;
          line-height: 99.327%; /* 95.354px */
          letter-spacing: -2.4px;
          span {
            color: #5956e9;
            font-weight: 500;
            &:last-child {
              font-weight: normal;
            }
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          width: 370px;
          color: #999fae;
          margin: 24px 0 40px 0;
        }
        .btns {
          @include d-flex(32px);
          #mainBtn {
            @include btnBlue(29px, 46px);
          }
          .actionBtn {
            @include d-flex(16px);
            a {
              text-decoration: none;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: -0.64px;
              color: #999fae;
            }
          }
        }
        .scrollHorizontalDiv {
          @include d-flex(5px);
          margin-top: 100px;
          a {
            text-decoration: none;
            color: #999fae;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.4px;
          }
        }
      }
      .rightContent {
        position: relative;
        @include d-column(1px);
        img {
          &:first-child {
            margin-bottom: 220px;
            // position: absolute;
            z-index: 3;
          }
          &:nth-child(2) {
            position: absolute;
            margin-top: 220px;
            margin-left: 70px;
            z-index: 2;
          }
          &:nth-child(3) {
            position: absolute;
            margin-bottom: 160px;
            margin-left: -70px;
            bottom: 0;
            z-index: 2;
          }
          &:last-child {
            position: absolute;
            bottom: 163px;
            margin-left: 350px;
            z-index: 2;
          }
        }
      }
      #circlePinkLittle {
        position: absolute;
        left: 0;
        top: 260px;
      }
      #circleBottmPink {
        position: absolute;
        bottom: -170px;
        right: 360px;
        z-index: 10;
      }
      #circleYellowMain {
        position: absolute;
        top: 40px;
      }
      #circleWhiteMain {
        position: absolute;
        bottom: 266px;
        right: 40px;
        z-index: 2;
      }
      #circleBlueMain {
        position: absolute;
        bottom: 180px;
      }
    }
  }
  //==========>> design tool section <<===========//
  #designToolSection {
    position: relative;
    background-color: #27272e;
    margin-top: 93px;
    color: white;
    padding: 150px 0 105px 0;
    z-index: 1;
    .designTool {
      .toolTopTexts {
        @include d-flex(186px);
        align-items: start;
        h4 {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 99.327%; /* 19.865px */
          letter-spacing: -0.5px;
        }
        #swiperNextBtn {
          position: absolute;
          bottom: 120px;
          left: 100px;
          background-color: #27272e;
          color: white;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          border: 1px solid #5956e9;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #5956e9;
          }
        }

        #swiperPrevBtn {
          position: absolute;
          bottom: 120px;
          left: 165px;
          background-color: #27272e;
          color: white;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          border: 1px solid #5956e9;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #5956e9;
          }
        }
        .mainTextTool {
          margin-bottom: 105px;
          h2 {
            font-size: 80px;
            font-weight: 500;
            line-height: 100%; /* 80px */
            letter-spacing: -2px;
            margin-bottom: 48px;
          }
          p {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            opacity: 0.5;
            width: 502px;
          }
        }
        .swiper {
          width: 1000px;
          height: 420px;
          .swiper-slide {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border: 2px solid #27272E;
            h4 {
              padding: 42px 0 33px 0;
              font-size: 24px;
              font-weight: 500;
              line-height: 140%; /* 33.6px */
              letter-spacing: -1.08px;
            }

            p {
              width: 320px;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              letter-spacing: -0.4px;
              opacity: 0.5;
              padding-bottom: 40px;
            }
            a{
                opacity: 0.5;
                color: #fff;
                text-decoration: none;
            }
            &:hover{
                a{
                    opacity: 1;
                }
                border-top: 2px solid #FFBABA;
            }
          }
          .swiper-pagination-bullet{
            background-color: white;
            width: 13px;
            height: 13px;
            margin-left: 10px;
          }
        }
      }
      #circleGrey{
        position: absolute;
        top: 100px;
        right: 240px;
        z-index: -1;
      }
      #circleGreyLittle{
        position: absolute;
        left: 20px;
        bottom: 450px;
      }
    }
  }
}

//============>> Tablet <<============//
@media screen and (max-width: 1024px) {
}

//============>> mobile <<============//
@media screen and (max-width: 375px) {
}
