@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Black.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-ExtraBold.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-ExtraLight.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Light.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/static/DMSans-Thin.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.fullPage {
  width: 1440px;
  margin: 0 auto;
}
.fullPage .navBarSection {
  position: relative;
}
.fullPage .navBarSection .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0 80px 0;
}
.fullPage .navBarSection .navbar .leftNav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 60px;
}
.fullPage .navBarSection .navbar .leftNav .logo a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 2px;
}
.fullPage .navBarSection .navbar .leftNav .logo a h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 97.827%;
  letter-spacing: -0.84px;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks {
  display: flex;
  align-items: center;
  gap: 55px;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks li {
  list-style: none;
  position: relative;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks li a {
  color: #999fae;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  transition: all 0.3s ease-in-out;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks li a:hover {
  color: black;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks li:after {
  display: block;
  content: "";
  padding-bottom: 3px;
  border-bottom: solid 2px #5956e9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks li:hover:after {
  transform: scaleX(1);
}
.fullPage .navBarSection .navbar .leftNav .navBarLinks #dropDownMenuLi a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
  align-items: start;
  padding: 50px 101px;
  border-radius: 32px;
  margin-top: 440px;
  margin-left: -40px;
  width: 1240px;
  z-index: 5;
  display: none;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .features,
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .features2,
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-items: start;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .line {
  width: 1px;
  height: 248px;
  opacity: 0.4;
  background: #999fae;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 23px;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items .itemTexts .divH4 {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items .itemTexts .divH4 i {
  opacity: 0;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items .itemTexts span {
  color: #999fae;
  font-size: 13px;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items:hover .divH4 {
  color: #5956e9;
}
.fullPage .navBarSection .navbar .leftNav .dropDownMenu .items:hover .divH4 i {
  opacity: 1;
}
.fullPage .navBarSection .navbar .rightNav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.fullPage .navBarSection .navbar .rightNav .searchDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fullPage .navBarSection .navbar .rightNav .searchDiv input {
  width: 140px;
  border: 2px solid #5956e9;
  border-radius: 20px;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  z-index: 2;
}
.fullPage .navBarSection .navbar .rightNav .searchDiv i {
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 2;
}
.fullPage .navBarSection .navbar .rightNav #getStart {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 20px 47px;
  background-color: #fab8c4;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.64px;
  color: #2522ba;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.fullPage .navBarSection .navbar .rightNav #getStart:hover {
  opacity: 0.8;
}
.fullPage .navBarSection .navbar .rightNav #getStart:active {
  transform: scale(0.95);
}
.fullPage main .mainSection {
  position: relative;
  display: flex;
  align-items: center;
  gap: 73px;
  justify-content: center;
}
.fullPage main .mainSection .leftContent {
  margin-left: 160px;
}
.fullPage main .mainSection .leftContent h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 99.327%; /* 95.354px */
  letter-spacing: -2.4px;
}
.fullPage main .mainSection .leftContent h1 span {
  color: #5956e9;
  font-weight: 500;
}
.fullPage main .mainSection .leftContent h1 span:last-child {
  font-weight: normal;
}
.fullPage main .mainSection .leftContent p {
  font-size: 18px;
  font-weight: 400;
  width: 370px;
  color: #999fae;
  margin: 24px 0 40px 0;
}
.fullPage main .mainSection .leftContent .btns {
  display: flex;
  align-items: center;
  gap: 32px;
}
.fullPage main .mainSection .leftContent .btns #mainBtn {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 46px;
  background-color: #5956e9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fullPage main .mainSection .leftContent .btns #mainBtn:hover {
  opacity: 0.8;
}
.fullPage main .mainSection .leftContent .btns #mainBtn:active {
  transform: scale(0.95);
}
.fullPage main .mainSection .leftContent .btns .actionBtn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.fullPage main .mainSection .leftContent .btns .actionBtn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  color: #999fae;
}
.fullPage main .mainSection .leftContent .scrollHorizontalDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 100px;
}
.fullPage main .mainSection .leftContent .scrollHorizontalDiv a {
  text-decoration: none;
  color: #999fae;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.fullPage main .mainSection .rightContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.fullPage main .mainSection .rightContent img:first-child {
  margin-bottom: 220px;
  z-index: 3;
}
.fullPage main .mainSection .rightContent img:nth-child(2) {
  position: absolute;
  margin-top: 220px;
  margin-left: 70px;
  z-index: 2;
}
.fullPage main .mainSection .rightContent img:nth-child(3) {
  position: absolute;
  margin-bottom: 160px;
  margin-left: -70px;
  bottom: 0;
  z-index: 2;
}
.fullPage main .mainSection .rightContent img:last-child {
  position: absolute;
  bottom: 163px;
  margin-left: 350px;
  z-index: 2;
}
.fullPage main .mainSection #circlePinkLittle {
  position: absolute;
  left: 0;
  top: 260px;
}
.fullPage main .mainSection #circleBottmPink {
  position: absolute;
  bottom: -170px;
  right: 360px;
  z-index: 10;
}
.fullPage main .mainSection #circleYellowMain {
  position: absolute;
  top: 40px;
}
.fullPage main .mainSection #circleWhiteMain {
  position: absolute;
  bottom: 266px;
  right: 40px;
  z-index: 2;
}
.fullPage main .mainSection #circleBlueMain {
  position: absolute;
  bottom: 180px;
}
.fullPage #designToolSection {
  position: relative;
  background-color: #27272e;
  margin-top: 93px;
  color: white;
  padding: 150px 0 105px 0;
  z-index: 1;
}
.fullPage #designToolSection .designTool .toolTopTexts {
  display: flex;
  align-items: center;
  gap: 186px;
  align-items: start;
}
.fullPage #designToolSection .designTool .toolTopTexts h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
}
.fullPage #designToolSection .designTool .toolTopTexts #swiperNextBtn {
  position: absolute;
  bottom: 120px;
  left: 100px;
  background-color: #27272e;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 1px solid #5956e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullPage #designToolSection .designTool .toolTopTexts #swiperNextBtn:hover {
  background-color: #5956e9;
}
.fullPage #designToolSection .designTool .toolTopTexts #swiperPrevBtn {
  position: absolute;
  bottom: 120px;
  left: 165px;
  background-color: #27272e;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 1px solid #5956e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullPage #designToolSection .designTool .toolTopTexts #swiperPrevBtn:hover {
  background-color: #5956e9;
}
.fullPage #designToolSection .designTool .toolTopTexts .mainTextTool {
  margin-bottom: 105px;
}
.fullPage #designToolSection .designTool .toolTopTexts .mainTextTool h2 {
  font-size: 80px;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -2px;
  margin-bottom: 48px;
}
.fullPage #designToolSection .designTool .toolTopTexts .mainTextTool p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  width: 502px;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper {
  width: 1000px;
  height: 420px;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 2px solid #27272e;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide h4 {
  padding: 42px 0 33px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: -1.08px;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide p {
  width: 320px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  opacity: 0.5;
  padding-bottom: 40px;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide a {
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide:hover {
  border-top: 2px solid #ffbaba;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-slide:hover a {
  opacity: 1;
}
.fullPage #designToolSection .designTool .toolTopTexts .swiper .swiper-pagination-bullet {
  background-color: white;
  width: 13px;
  height: 13px;
  margin-left: 10px;
}
.fullPage #designToolSection .designTool #circleGrey {
  position: absolute;
  top: 100px;
  right: 240px;
  z-index: -1;
}
.fullPage #designToolSection .designTool #circleGreyLittle {
  position: absolute;
  left: 20px;
  bottom: 450px;
}
.fullPage #signUpSection {
  position: relative;
  background-color: #ecf2f6;
  padding-top: 80px;
  z-index: 1;
}
.fullPage #signUpSection .signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 74px;
}
.fullPage #signUpSection .signUp .images #blueBackSign {
  position: absolute;
  margin-left: -510px;
  margin-top: 30px;
  z-index: -1;
  padding-bottom: 198px;
}
.fullPage #signUpSection .signUp .bottomContent h4 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: -1.08px;
  margin-bottom: 40px;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  margin-bottom: -45px;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents img {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 40px;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents input {
  width: 504px;
  height: 96px;
  padding: 36px 72px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents button {
  position: absolute;
  right: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 46px;
  background-color: #5956e9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents button:hover {
  opacity: 0.8;
}
.fullPage #signUpSection .signUp .bottomContent .inputEmailContents button:active {
  transform: scale(0.95);
}
.fullPage #featureListSsection {
  padding: 90px 0 100px 0;
}
.fullPage #featureListSsection .featureList {
  padding-top: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.fullPage #featureListSsection .featureList .leftContentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: start;
}
.fullPage #featureListSsection .featureList .leftContentList .topContent span {
  color: rgb(89, 86, 233);
  font-size: 20px;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
}
.fullPage #featureListSsection .featureList .leftContentList .topContent h2 {
  color: #292930;
  padding: 24px 0 47px 0;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -2px;
}
.fullPage #featureListSsection .featureList .leftContentList .topContent h2 span {
  color: #5956e9;
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2px;
}
.fullPage #featureListSsection .featureList .leftContentList .topContent p {
  font-size: 18px;
  font-weight: 400;
  color: #999fae;
  width: 408px;
}
.fullPage #featureListSsection .featureList .leftContentList .bottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-items: start;
}
.fullPage #featureListSsection .featureList .leftContentList .bottomContent .items {
  display: flex;
  align-items: center;
  gap: 24px;
}
.fullPage #featureListSsection .featureList .leftContentList .bottomContent .items h4 {
  font-size: 18px;
  color: #292930;
}
.fullPage #prototypeSection {
  padding: 45px 0 73px 0;
}
.fullPage #prototypeSection .prototype {
  position: relative;
  border-radius: 40px;
  padding: 65px 0 40px 100px;
  border: 1px solid rgba(255, 255, 255, 0.937254902);
  background: var(--gradient-grey-bg, linear-gradient(90deg, #ecf2f6 0%, rgba(236, 242, 246, 0) 70.31%));
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: space-between;
}
.fullPage #prototypeSection .prototype .protoLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-items: start;
}
.fullPage #prototypeSection .prototype .protoLeftContent h2 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2px;
  width: 430px;
}
.fullPage #prototypeSection .prototype .protoLeftContent h2 span {
  color: #5956e9;
  font-size: 80px;
}
.fullPage #prototypeSection .prototype .protoLeftContent p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
  opacity: 0.7;
  width: 389px;
}
.fullPage #prototypeSection .prototype .protoLeftContent button {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 25px;
  background-color: #5956e9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fullPage #prototypeSection .prototype .protoLeftContent button:hover {
  opacity: 0.8;
}
.fullPage #prototypeSection .prototype .protoLeftContent button:active {
  transform: scale(0.95);
}
.fullPage #prototypeSection .prototype .protoRightContent img:first-child {
  width: 500px;
  height: 500px;
}
.fullPage #prototypeSection .prototype .protoRightContent img:nth-child(2) {
  position: absolute;
  right: 190px;
  top: 110px;
  z-index: -1;
}
.fullPage #prototypeSection .prototype .protoRightContent img:nth-child(3) {
  position: absolute;
  bottom: -70px;
  left: 240px;
  width: 120px;
  height: 120px;
}
.fullPage #prototypeSection .prototype .protoRightContent img:nth-child(4) {
  position: absolute;
  top: -45px;
  right: 100px;
}
.fullPage #prototypeSection .prototype .protoRightContent img:last-child {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 130px;
  right: 620px;
}
.fullPage #PricingSection {
  padding-bottom: 112px;
  border: 1px solid green;
}
.fullPage #PricingSection .Pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}
.fullPage #PricingSection .Pricing .topContentPrice {
  text-align: center;
}
.fullPage #PricingSection .Pricing .topContentPrice h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 99.327%; /* 19.865px */
  letter-spacing: -0.5px;
}
.fullPage #PricingSection .Pricing .topContentPrice h2 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -2px;
  padding: 16px 0 31px 0;
}
.fullPage #PricingSection .Pricing .topContentPrice h2 span {
  color: #5956e9;
}
.fullPage #PricingSection .Pricing .topContentPrice p {
  color: var(--text-grey, #999fae);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fullPage #PricingSection .Pricing .middleContentPrice {
  display: flex;
  align-items: center;
  gap: 25px;
}
.fullPage #PricingSection .Pricing .middleContentPrice span {
  color: #99a1aa;
  font-size: 16px;
  font-weight: 500;
  line-height: 80%; /* 12.8px */
  letter-spacing: -0.64px;
}
.fullPage #PricingSection .Pricing .middleContentPrice span.active {
  color: #5956e9;
}
.fullPage #PricingSection .Pricing .middleContentPrice .togglebtn {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #5956e9;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.fullPage #PricingSection .Pricing .middleContentPrice .togglebtn::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.fullPage #PricingSection .Pricing .middleContentPrice .togglebtn.active::before {
  left: calc(100% - 21px - 3px);
  background-color: white;
}
.fullPage #PricingSection .Pricing .middleContentPrice .togglebtn.active {
  background-color: #5956e9;
}
.fullPage #PricingSection .Pricing .bottomContentPrice {
  display: flex;
  align-items: center;
  gap: 40px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
  padding: 42px 40px;
  border-radius: 32px;
  background-color: #5956e9;
  color: white;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem #StarIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem .smile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem .smile span {
  font-size: 14px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
  padding: 7px 0 20px 0;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem p {
  font-size: 14px;
  font-weight: 500;
  line-height: 99.327%; /* 13.906px */
  letter-spacing: -0.35px;
  color: #ccc;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem p span {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 110%; /* 22px */
  letter-spacing: -0.5px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem .boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-items: start;
  padding: 45px 0 42px 0;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem .boxes .item1 {
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: start;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem .boxes .item1 span {
  font-size: 16px;
  letter-spacing: -0.4px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem button {
  text-decoration: none;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 25px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 12.8px */
  letter-spacing: -0.64px;
  width: 100%;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem button:hover {
  opacity: 0.8;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .professionalItem button:active {
  transform: scale(0.95);
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
  padding: 42px 40px;
  border-radius: 32px;
  background-color: #fff;
  color: black;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .smile,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .smile {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .smile span,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .smile span {
  font-size: 14px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem h3,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
  padding: 7px 0 20px 0;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem p,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem p {
  font-size: 14px;
  font-weight: 500;
  line-height: 99.327%; /* 13.906px */
  letter-spacing: -0.35px;
  color: #ccc;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem p span,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem p span {
  color: #5956e9;
  font-size: 20px;
  font-weight: 600;
  line-height: 110%; /* 22px */
  letter-spacing: -0.5px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .boxes,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-items: start;
  padding: 45px 0 42px 0;
  color: #999fae;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .boxes .item1,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .boxes .item1 {
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: start;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .boxes .item1 span,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .boxes .item1 span {
  font-size: 16px;
  letter-spacing: -0.4px;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem button,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem button {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 25px;
  background-color: #fab8c4;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.64px;
  color: #2522ba;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 12.8px */
  letter-spacing: -0.64px;
  width: 100%;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem button:hover,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem button:hover {
  opacity: 0.8;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem button:active,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem button:active {
  transform: scale(0.95);
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .ultimateBtn,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .ultimateBtn {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 29px 25px;
  background-color: #5956e9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 12.8px */
  letter-spacing: -0.64px;
  width: 100%;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .ultimateBtn:hover,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .ultimateBtn:hover {
  opacity: 0.8;
}
.fullPage #PricingSection .Pricing .bottomContentPrice .StandartItem .ultimateBtn:active,
.fullPage #PricingSection .Pricing .bottomContentPrice .ultimateItem .ultimateBtn:active {
  transform: scale(0.95);
}/*# sourceMappingURL=main.css.map */